*.lo
*.la
.deps
.libs
.cvsignore
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
build
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
config.m4
config.w32
configure
configure.in
conftest
conftest.c
include
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
manual
tests
modules
scan_makefile_in.awk
*.dsw
*.plg
*.opt
*.ncb
*.bak
Release
Release_inline
Debug
Release_TS
Release_TSDbg
Release_TS_inline
Debug_TS
pHash*.tgz
CREDITS
EXPERIMENTAL
LICENSE
pHash.cpp
php_pHash.h
package*.xml
run-tests.php